body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.pagination {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

.pageItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: flex-start;
}

.pageLink {
  width: 40px;
  height: 40px;
  border: 2px solid tan;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.allTeasContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
  justify-content: center;
}

.all-teas {
  border-style: groove;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination-cart {
  display: flex;
  list-style: none;
  margin: 0;
  font-family: sans-serif;
}

.pageItem-cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pageLink-cart {
  width: 40px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-size: 25;
  margin-top: 10px;
}
.Tea-Form-wrapper {
  padding: 5px 20px;
  color: black;
  border-radius: 10%;
  background-color: chocolate;
}
.auth-Form-wrapper {
  padding: 5px 20px;
  color: black;
  border-radius: 10%;
  background-color: lightgrey;
}
.Greeting-Message {
  padding: 5px 20px;
  color: black;
  background-color: chocolate;
}
.brand-name {
  text-align: center;
  background-color: chocolate;
}
.nav-bar {
  text-align: center;
  padding: 14px 16px;
}
.cart-wrapper {
  padding: 5px 20px;
  border-radius: 75%;
  background-color: brown;
}

.UpdateTea-Form-wrapper {
  padding: 5px 20px;
  color: black;
  border-radius: 10%;
  background-color: chocolate;
}

.UpdateSingle-tea {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
